<!--
    Display information about the author such as the profile image and name
    Display a list of Blog Post titles that link to each post
    Data passed in would be a single author entity, list of blog post entities
    -->
    <%- include ('partials/header'); %>

    <h2><u><center>Author Name</center></u></h2>
      <section id="author">
      <h3><u>Post Title</u></h3>
      <h3>Image Photo</h3>
      <h4>Post Type</h4>
      <h4>Ingredients:</h4>
      <h4>Instructions: </h4>
    </section>
