<%- include ('partials/header'); %>
      <section id="authors">
        <h2><center>Authors</center></h2>
        <% authors.forEach(author =>{%>
          <h3><a href = "/author/<%=author%>"><%=author%></a></h3><br/>
        <%});%>
      </section>
      <%- include ('partials/footer');  %>
