<%- include ('partials/header'); %>
      <section id="authors">
        <h2><center><u>Authors</u></center></h2>
        <h3><a href="/author">Author</a></h3>
      </section>
      <%- include ('partials/footer');  %>
