<%- include ('partials/header'); %>
<body>
    <h2><center>Blog Posts!</center></h2><br>
    <h6>display list of blog posts</h6>
    <section id="posts">
        <h4><center><u>Title</u></center></h4>
        <h5><center>By: Author Name</center></h5>
        <h5><center>Image</center></h5>
        <h6><center>Post type</center></h6>
        <h6><center>Ingredients</center></h6>
        <p><center>Instructions</center></p>
  </section>
  </body>
