<%- include ('partials/header'); %>

  <h3>Create a Blog Post!</h3>
    <form action="/blogPostCreate" method="POST" id="form">
    <label for="author">Author:</label>
        <input type="text" id="author" name="author" value=""><br>
      <br>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value=""><br>
      <br>
      <label for="photo">Upload Photo:</label>
      <input type="text" id="photo" name="postPhoto" value=""><br>
      <br>
      <label for="types">Choose a Type:</label>
      <select name="types" id="types">
        <option value="beverage">Beverage</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
      </select>
      <br>
      <label for="ingredients">List of Ingredients(comma seperated):</label>
      <input type="text" id="ingredients" name="ingredients" value=""><br>
      <br>
      <label for="instructions">Instructions:</label>
      <input type="text" id="instructions" name="instructions" value=""><br>
      <br><br>
      <input type="submit" value="Create a new Blog Post!"><br>
    </form>
    <%- include ('partials/footer'); %>
