<%- include('partials/header') -%>

    <h1><center>Welcome to the Trinity Cooking Blog!</center></h1>

    <br>
    <center><h1>Trinity Cooking Blog!</h1>
    <br><br>
    <center><h3><a href="/login">Login</a></h3></center>

<br>
<h3><center>Welcome to the Trinity Cooking Blog!</center></h3>
  <br>
