<%- include ('partials/header'); %>
      <section id="chat">
        <h2><center><u>Login</u></center></h2>
    <p>Login with:
      <a href="/auth/google">Login with Google</a>
    </p>
      </section>
