<%- include ('partials/header'); %>
      <body>
      <div class="container">
        <div class="jumbotron text-center text-primary">
          <h1><span class="fa fa-lock"></span> Login!</h1>
          <p>Login with:
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
          </p>
        </div>
      </div>
      </body>
      <%- include('partials/footer') -%>
